<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add Subject</h1><br><br>
    <a href="/students/<%=dataStudent.id%>/subjects">Back to Student's Subject List</a><br><br>
    <form action="/students/<%=dataStudent.id%>/subject/add" method="POST">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" value="<%=getFullName(dataStudent.firstName,dataStudent.lastName)%>" readonly><br><br>
        <label for="subjects">Subjects:</label><br>
        <select id="subjects" name="subjects">
            <%for (let i = 0 ; i < dataSubject.length ; i++){%>
            <option value="<%=dataSubject[i].id%>"><%=dataSubject[i].name%></option>
            <%}%>
          </select><br><br>
        <input type="submit" value="Submit">
    </form>

</body>
</html>