<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <table border="1">
        <tr>
            <th>No</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>IPK</th>
        </tr>
        <% for(let i =0; i< data.length; i++){ %>
        <h1><%= data[i].name %></h1>
        <% } %>
        <% for(let i =0; i< data[0].Students.length; i++){ %>
        <tr>
            <td><%= i+1 %></td>
            <td><%= data[0].Students[i].firstName %></td>
            <td><%= data[0].Students[i].lastName %></td>
            <td><%= data[0].Students[i].email %></td>
            <td><%= data[0].Students[i].ipk %></td>
        </tr>
        <% } %>
    </table>
</body>

</html>